<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="utilizatorXml" class="com.example.lab_2.Utilizator">
        <property name="numeUtilizator" value="UserXML"/>
        <property name="parola" value="parolaXML"/>
        <property name="email" value="user.xml@example.com"/>
        <property name="dataNasterii" value="1995-10-15"/>
    </bean>

    <bean id="intraJurnalXml" class="com.example.lab_2.IntraJurnal">
        <constructor-arg ref="utilizatorXml"/>
        <property name="titlu" value="Jurnal XML"/>
        <property name="continut" value="Creat prin configurare XML"/>
        <property name="stareEmotionala" value="Neutru"/>
        <property name="nivelEnergie" value="6"/>
    </bean>

</beans>